// Buttons
.btn {
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: capitalize;
    box-shadow: none;
    text-shadow: none;

    // 767px
    @media (max-width: $break-767) {
        padding: 10px 20px;
        font-size: 1em;
    }
    &:hover,
    &:focus {
        outline: none;
        box-shadow: none;
        text-shadow: none;
    }
    span {
        // 767px
        @media (max-width: $break-767) {
            display: none;
        }
    }
}

// Btn Main
.btn-main {
    color: $white-clr;
    background-color: $primary-clr;
    &:hover,
    &:focus {
        color: $white-clr;
        background-color: darken($primary-clr, 5%);
    }
}

// Btn Main Dark
.btn-main-dark {
    color: $white-clr;
    background-color: darken($primary-clr, 10%);
    &:hover,
    &:focus {
        color: $white-clr;
        background-color: darken($primary-clr, 20%);
    }
}

// Btn Image
.btn-img {
    display: inline-block;
    img {
        width: auto;
        height: 70px;
    }
}
